.flex-container {
    display: flex;
    /* gap: 0.5rem; */
    flex-direction: row;
    flex-wrap: wrap;    
    justify-content: center;
    align-items: center self-start;
    align-content: center;
    margin: 0 auto;
}

.flex-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    justify-content: center;
    align-items: center self-start;
    align-content: center;



    background: grey;
    padding: 5px;
    width: 200px;
    height: 350px;
    margin-top: 1em;
    line-height: 2em;
    color: white; 
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.flex-item-small
    {
        flex-grow: 1;
    }

.flex-item-medium
{
    flex-grow: 1.5;
}

.flex-item-large
{
    flex-grow: 2;
}

h1 {color: rgb(104, 76, 40);
    font-family: 'Roboto', sans-serif;
    text-align: center;}

h2 {color: rgb(104, 76, 40);
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    margin-top: 50px;}

h3 {color: rgb(104, 76, 40);
    font-family: 'Roboto', sans-serif;}

p  { font-family: 'Roboto', sans-serif;
    margin: 20px;
    text-align: left;}

figure {
    display: inline-block;
    border: 2px solid;
    color: brown;

}
figure img {
     vertical-align: center; 
     margin-top: 1em;
}
/* figure figcaption {
    color: black;

} */

body {
    /* background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg); */
    padding: 2em;
  } 


/* A Flex container with a more complex setup */
.wrapper {
display: flex;  
flex-flow: row wrap;
font-weight: bold;
text-align: center; 
padding: 4em;
}

.wrapper > * {
padding: 10px;
flex: 1 100%;
}

.header {
background: grey;
}

.footer {
background: darkgrey;
}

/* .main {
text-align: left;
background: deepskyblue;
} */

.aside-1 {
background: darkgrey;
}

.aside-2 {
background: darkgrey;
}

/* If window width greater than 600px  */
@media all and (min-width: 600px) {
.aside { flex: 1 0 0; }

}

/* This is trick to detect smartphones */
@media all and (pointer:none)  , (pointer:coarse) {
    body{
    background: lightblue;
    }
    .aside { flex: 1 0 0; }
}

/* If window width greater than 800px  */
@media all and (min-width: 800px) {

.main    { flex: 3 0px; }
.aside-1 { order: 1; } 
.main    { order: 2; }
.aside-2 { order: 3; }
.footer  { order: 4; }
}

/* Apply style to ID */
#p2 {text-align: left;
font-size: large;}